.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  opacity: 0.9;
}

.ic-close-anim:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.font-ibm {
  font-family: 'IBMPlexMono', sans-serif !important;
}
