VITE_MODE=production
VITE_CDN_URL=https://cdn.trustless.computer
VITE_TC_NETWORK_RPC=https://tc-node.trustless.computer
#VITE_MOCKUP_PASSWORD=11111111
#VITE_MOCKUP_MNEMONIC='silent copper cradle modify spend knock task order gadget myself another ripple'
VITE_DEFAULT_NETWORK_KEY='Regtest manual'
VITE_BLOCKSTREAM=https://blockstream.regtest.trustless.computer/regtest/api
VITE_TC_ADDRESS_TEST=
VITE_BTC_ADDRESS_TEST=
